.actionArea {
  border: 1px solid lightslategray;
  width: 500px;
  margin-top: 10px;
}

.actionArea:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 3px 5px #888888;
  transition: 0.2s;
}

.cardContent {
  min-height: 125px;
}

.title {
    display: flex;
    justify-content: space-around;
}

.subContentArea {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}
